<div class="site-footer__inner reveal reveal--scale-subtle">

    <section id="contact" class="contact">
        <div class="contact__inner">
            <h2 class="contact__title">Kontakt</h2>
            <p class="contact__text">Für weitere Referenzen, Projektanfragen oder um einfach mal Hallo zu sagen –
                schreib mir gerne <span aria-hidden="true">✌️</span></p>
            <a href="mailto:hey@maikzn.de" class="contact__button">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="icon icon-tabler icons-tabler-outline icon-tabler-mail">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10" />
                    <path d="M3 7l9 6l9 -6" />
                </svg>
                E-Mail schreiben</a>
        </div>
    </section>

    <div class="site-footer__meta">
        <div class="site-footer__info">
            <span>© 2026 Maik Homeyer</span>
            <span aria-hidden="true"> • </span>
            <a href="impressum.html">Impressum</a>
        </div>

        <a href="#main" class="site-footer__back-to-top" aria-label="Zum Seitenanfang scrollen">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-up">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M12 5l0 14" />
                <path d="M18 11l-6 -6" />
                <path d="M6 11l6 -6" />
            </svg>
            Nach oben</a>
    </div>

</div>